* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: #414141;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
button {
  width: 60px;
  height: 40px;
}
p {
  text-align: center;
  margin-top: 20px;
}
